.card-body{
    background-color: #010326;
    border: none; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    transition: background-color 0.3s ease; 
}

.transparent-card {
  background-color: transparent; /* Define o fundo como transparente */
  border: 2px solid #17a2b8; /* Adiciona uma borda de 2px sólida com cor azul (#17a2b8) */
}


body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
}

.card button{
  color: white;
  font-family: "Josefin Sans", sans-serif;
}

.card-img-top {
    max-width: 100%; 
}

@media (max-width: 576px) {
    .card-img-top {
      max-width: 100%; 
    }
  }

  .card {
    border-radius: 80px; 
    border: #069fff;
    top: 50px;
    left: 28px;
}

.card-body {
    position: relative; 
    z-index: 1;
}

.card .card-body .card-title {
  font-family: "Space Mono", monospace;
  color: #26F3DD !important;
}
.card-text{
  font-family: "Josefin Sans", sans-serif;
  color: white;
}

.card{
  width: 350px;
}