.card-body{
    background-color: transparent;
    background-color: #6188ff; 
    border: none; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    transition: background-color 0.3s ease; 

}

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
}

.card button{
  color: white;
}

.card-img-top {
    max-width: 100%; 
}

@media (max-width: 576px) {
    .card-img-top {
      max-width: 100%; 
    }
  }

  .card {
    border-radius: 50px; 
    border: #069fff;
    top: 50px;
}

.card-body {
    position: relative; 
    z-index: 1;
}

.card-title{
  font-family: "Space Mono", monospace;
  color: blue;
  
}
.card-text{
  font-family: "Josefin Sans", sans-serif;
  color: white;
}

.card{
  width: 350px;
}