body{
    background-color: #000000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
}


.text {
    background-color: rgba(0, 0, 0, 0.253);
    padding: 10px; 
    border-radius: 20px; 
    color: white; 
    font-size:larger;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
    font-family: "Josefin Sans", sans-serif;
}

li{
    display: inline-block;
    margin: 20px;
}



main{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}



.navbar-brand img {
    max-width: 120px;
    height: auto;
}

.logo{
    width: 290px;
    flex-direction: column;
    line-height: 10px;
    position: absolute;
    top: 5;
    left: 0;
    
    
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: -1;
}

.navbar-custom .nav-link {
    color: #2ceaff; 
    transition: color 0.3s ease; 
}

.navbar-custom .nav-link:hover {
    color: #ffcc00; 
}

.dropdown-menu .dropdown-item {
    color: #000000; 
}

.dropdown-menu .dropdown-item:hover {
    background-color: #ffcc00; 
    color: #03045e; 
}

@media (max-width: 768px) {
    .background-video {
        top: 50%;
        left: 82%;
        width: auto;
        height: 100%;
        object-fit: cover;
        transform: translate(-50%, -50%);
        z-index: -1;
    }
}


.video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
}

.background-video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.navbar-nav .nav-link {
    position: relative;
    display: inline-block;
    color: #fff;
    text-decoration: none;
    padding-bottom: 3px;
}

.navbar-nav .nav-link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: #17a2b8;
    transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
}

.navbar-nav .nav-link:hover::after {
    width: 50%;
    left: 25%;
}

.navbar-nav .nav-link:focus:not(:hover)::after {
    width: 0;
}

.navbar-nav .nav-item:nth-child(3) .nav-link::after {
    display: none;
}


@media only screen and (max-width: 767px) {
    body {
      background-image: url('https://images.unsplash.com/photo-1534515538060-80212d73acb6?q=80&w=1935&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
        background-size: 100% auto;
        }
  }

 
@media only screen and (max-width: 767px) {
    .background-video {
      display: none;
    }
  
    body {
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
  }

@media only screen and (max-width: 767px) {
    .navbar-toggler {
        border-color: #007bff !important; 
    }
    .navbar-toggler-icon {
        background-image: url('data:image/svg+xml;charset=UTF8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30"><path stroke="rgba(0, 123, 255, 1)" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22"/></svg>') !important;

    }
}

.footer {
    background-color: transparent;
    padding: 1rem 0;
}

.footer .text-muted {
    margin: 0;
}
.text-center{
    color: #fff;
    font-family: "Space Mono", monospace;
}